.logo {
    color: #F00;
}

nav .menu-item {
    color: #0F0;
}

nav .menu-item:visited {
    color: #444;
}

.above-the-fold p {
    color: #fff;
}

.above-the-fold button {
    background-color: #0F0;
    color: #fff;
}

.section-header {
    text-transform: uppercase;
}

.section-header::before {
    content: '>';
    margin-right: 4px;
}

.blog-article {
    margin-top: 40px;
}

.blog-article p::first-letter {
    margin-left: 30px;
}

.article-title {
    text-align: center;
}

.blog {
    background-color: #666;
    color: #cff;
}

.gallery figure:hover {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .5);
}

.gallery figcaption {
    padding: 8px;
}

.form-input {
    display: block;
    margin-bottom: 30px;
    padding: 8px;
}

.form-input:focus {
    border-width: 4px;
}

input[type="radio"] {
    margin-left: 20px;
    margin-right: 5px;
}

footer {
    background-color: rgb(90, 90, 90);
    color: #fcc067;
}
